<h1><%= @cocktail.name %></h1>

<p>A good choice my friend</p>

<h3>List of the doses</h3>
<ul>
  <% @doses.each do |dose| %>
    <% if dose.cocktail_id == @cocktail.id %>
      <li>
        <p><%= dose.description %> : <%= dose.amount %> cl of <%= dose.ingredient.name %>
        <%= link_to "Delete", dose_path(dose),
        method: :delete,
        data: { confirm: "Are you sure?" } %> </p>
      </li>
      </li>
    <% end %>
  <% end %>
</ul>

<h2>Add a new dose</h2>

<%= render './doses/form_dose', dose: @dose %>

<%= link_to 'Back', cocktails_path %>
